.container__main {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 4.5rem;
  align-items: center;
  margin: 8rem auto 0 auto;
  padding: 1rem;
}

.inputUrl {
  border: none;
  width: 60%;
  font-size: 1.1rem;
  border-radius: 0.45rem;
  padding: 0.65rem 0.5rem;
}

.inputUrl:focus {
  outline: 1px solid #646cff;
  border: 1px solid #646cff;
}

.container__data {
  padding-top: 5rem;
}

.container__dataurl {
  font-size: 1.3rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  border: 1px solid #646cff;
  padding: 2rem;
  border-radius: 1rem;
}

@media (max-width: 767px) {

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 5rem;
    }

    .inputUrl {
        width: 90%;
    }

    .container__data {
        padding-top: 3rem;
      }

      .container__dataurl {
        width: 90%;
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        border: none;
        border-top: 1px solid #646cff;
        border-radius: 0;
      }
}